@import url('reset-css');

body {
  font-family: Montserrat, -apple-system, sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}
